@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400;14..32,500;14..32,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: "Inter", system-ui, -apple-system, sans-serif;
  --font-mono: "SF Mono", "Courier New", monospace;
}

body {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
}

.results {
  width: 100%;
  max-width: 150px;
  min-height: 150px;
  border: 1px solid red;
  text-align: center;
}

.sidebar {
  display: flex;
  width: 200px;
  padding-top: 10px;
  background: hsl(0, 0%, 97%);

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: hsl(0, 0%, 57%);
    text-decoration: none;
    width: 100%;
  }

  li {
    display: flex;
    padding-left: 10px;
    height: 30px;

    &:hover {
      background: white;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
  gap: 65px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  width: 100%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

/* col:nth-child(1){
  width: 10%;
}

col:nth-child(2) {
  width: 25%;
}


col:nth-child(3) {
    width: 45%;
} */

col:nth-child(4) {
  width: 150px;
}


col:nth-child(5) {
  width: 150px;
}



table td:nth-child(4) {
  text-align: right;
}

table tfoot td:nth-child(2) {
  text-align: right;
}

table td {
  border: 1px solid black;
  padding: 12px;
  height: 35px;
  border-bottom: 1px solid #eee;
  border-left: none;
  border-right: none;
}

table th {
  border: 1px solid #eee;
  padding: 12px;
  height: 15px;
  background: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 30%);
  text-transform: uppercase;
  text-align: start;
}

table th:nth-child(5) {
  text-align: center;
}

form {
  width: 525px;
}



.btn-general {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  line-height: 24px;
  border-radius: 5px;
  min-width: 110px;

  &:hover {
    cursor: pointer;
  }
}

.datosContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  gap: 25px;

  button {
    align-self: flex-end;
  }
}

.descuentosContainer {
  display: flex;

  flex-direction: column;
  gap: 25px;
}

.btn-eliminar {
  background-image: url("images/trash.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.btn-editar {
  background-image: url("images/edit.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.btn-agregar {
  background-image: url("images/plus.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: left 4px top 3px;
  padding-left: 10px;
  height: 24px;
}

.acciones {
  display: flex;
  gap: 10px;
  justify-content: center;
}

dialog {
  border: none;
  border-radius: 10px;
  height: 800px;
  width: 600px;
  margin: auto;

  &::backdrop {
    backdrop-filter: blur(5px);
  }
}

.dialogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 100%;
  padding: 20px;

  form {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.datosContainerHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pagos-header {
  padding: 10px;
  height: 20px;

  h1 {
    font-weight: 600;
  }
}

.tarjetas-resumen {
  display: flex;
  width: 100%;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  width: 25%;
  height: 110px;
  border-left: none;
  border-right: none;
  padding: 10px;
  gap: 10px;

  span {
    font-size: 30px;
  }
}

.tarjetas:nth-child(1),
.tarjetas:nth-child(2),
.tarjetas:nth-child(3) {
  border-right: 1px solid #eee;
}


.form-section {
  display: flex;
  gap: 35px;
  width: 100%;
  justify-content: center;

  input {
    height: 35px;
    width: 250px;
    max-width: 300px;
    border-radius: 4px;
    background: hsl(0, 0%, 97%);
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;

    &:user-invalid{
      border-color: red;
    }
  }

  h2 {
    font-size: 15px;
    font-weight: normal
  }


}

.button-form-section {
  display: flex;
  margin-top: auto;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.texto-rojo{
  color: red;
}